*::after, *::before, * {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: roboto, Helvetica, sans-serif;
}

body {
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content {
    grid-column: span 2;
    text-align: center;
}

.description {
    height: 25%;
    font-weight: bold;
    border: 1px solid black;
}
.form-container {
    height: 50%;
    border: 1px solid black;
}

form > .form-field {
    display: flex;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.button-container {
    height: 25%;
    border: 1px solid black;
}